APP_ENV=local
LOG_LEVEL=info

HTTP_HOST=0.0.0.0
HTTP_PORT=8081

GRPC_HOST=0.0.0.0
GRPC_PORT=9506

DB_HOST=127.0.0.1
DB_PORT=5436
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=payment_service
DB_SSLMODE=disable
DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME=5m

MIGRATIONS_PATH=file://migration/yugabyte
MIGRATIONS_TABLE=schema_migrations_payment_service

REDIS_HOST=127.0.0.1
REDIS_PORT=6381
REDIS_PASSWORD=
REDIS_DB=0

NATS_URL=nats://127.0.0.1:4222
NATS_USER=
NATS_PASSWORD=
NATS_STREAM_PAYMENT_COMMANDS=PAYMENT_COMMANDS
NATS_STREAM_PAYMENT_EVENTS=PAYMENT_EVENTS
NATS_SUBJECT_PAYMENT_INTENT=payment.intent
NATS_SUBJECT_PAYMENT_INTENT_RESULT=payment.intent.result
NATS_SUBJECT_PAYMENT_WEBHOOK=payment.webhook
NATS_SUBJECT_PAYMENT_STATUS=payment.status
NATS_SUBJECT_PAYMENT_COMPLETED=payment.completed
NATS_SUBJECT_PAYMENT_FAILED=payment.failed
NATS_SUBJECT_PAYMENT_COMPENSATION=payment.compensation
NATS_COMMAND_BATCH_SIZE=32
NATS_COMMAND_MAX_WAIT=10ms

STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_FREELANCER_ONBOARDING_WEBHOOK_SECRET=whsec_replace_me
STRIPE_CONNECT_RETURN_URL=http://localhost:3000/freelancer/onboarding/return
STRIPE_CONNECT_REFRESH_URL=http://localhost:3000/freelancer/onboarding/refresh
STRIPE_CONNECT_COUNTRY=US
